.MainPage{
    width:100vw;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:50px;
}


.MainPage svg{
    width:450px;
    height:350px;
}


.searchContainer{
    display:flex;
    align-items:center;
    gap:15px;
}


.searchInput{
    width:400px;
    padding:15px 20px;

    border: black solid;
    border-radius:25px;

    outline:none;
    font-size:16px;
    background:white;
}


.searchButton{
    padding:15px 28px;
    border:none;
    border-radius:25px;
    background:#ff2d2d;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.searchResults{
    padding: 10px;
    gap:10px;
}